*.log
html/wp-admin/
html/wp-includes/
html/wp-config.php
html/wp-content/advanced-cache.php
html/wp-content/backup-db/
html/wp-content/backups/
html/wp-content/blogs.dir/
html/wp-content/cache/
html/wp-content/upgrade/
html/wp-content/uploads/
html/wp-content/mu-plugins/
html/wp-content/wp-cache-config.php
html/wp-content/plugins/hello.php
html/wp-content/plugins/
html/wp-content/themes/twentynineteen/
html/wp-content/themes/twentyseventeen/
html/wp-content/themes/twentysixteen/
html/wp-activate.php
html/wp-blog-header.php
html/wp-comments-post.php
html/wp-config-sample.php
html/wp-cron.php
html/wp-links-opml.php
html/wp-load.php
html/wp-login.php
html/wp-mail.php
html/wp-settings.php
html/wp-signup.php
html/wp-trackback.php
html/xmlrpc.php
html/.htaccess
html/license.txt
html/readme.html
html/sitemap.xml
html/sitemap.xml.gz

